<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='summarize.ico') }}" type="image/x-icon"/>
    
    <title>Register</title>
</head>

<body>
    <h1>Register New User</h1>
    
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}


    <form action="{{ url_for('register') }}" method="POST">

        <label>Name</label>
        <input type="text" name="name" id="name" required>

        <label>Username</label>
        <input type="text" name="username" id="username" required>

        <label>Password</label>
        <input type="password" name="password" id="password" required>

        <input type="submit" value="Register">

    </form>

    <a href="{{ url_for('login') }}">Already have an account? Log In</a>

</body>

</html>